.container{
    padding: 0 104px;
}
.hero{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.hero-content h1{

    font-size: 44px;
    line-height: 50px;
    margin: 0;
    
}
.hero-content p{

    margin: 20px 0;
    line-height: 27px;
    
}

.hero-content{
    padding-right: 50px;
    
}

.hero-img{
    display: flex;
    width: 50%;
    align-items: center;
}
.hero-img img{
    width: 100%;
}
.custom-outline{
color: black !important;
border: 1px solid #F52F57 !important;
}
.custom-outline:hover{
background-color: #fff0f3 !important;
}

.hero-content-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: calc(98vh);
}
.cta{
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
    flex-direction: row;

}
.benefits-cards{
    display: flex;
    column-gap: 20px;
    margin-top: 50px;
    flex-direction: row;
}
@media only screen and (max-width: 600px) {
    .container{
        padding: 0 20px;
    }
    .hero-content-holder{
        width: 100%;
    }
    .hero-img{
        width: 100%;
    }
    .hero-content{
        padding-right: 0px;
    }
    .hero-content h1{

        font-size: 34px;
        line-height: 40px;
        margin: 0;
        
    }
    .hero-content p{

        font-size: 14px;
        line-height: 24px;
        
    }
    .benefits-cards{
        flex-direction: column;
    }
    .hero{
        flex-direction: column;
    }
    .cta{
        flex-direction: column;
        row-gap: 15px;
    }
    .benefits h1{
        font-size: 34px !important;
    }
  }